<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account Settings</ion-title>
    <ion-button (click)="save()" [disabled]="accountForm.pristine" slot='end' fill="clear">Save</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-list>
    <ion-item>
      <ion-img id="avatar" src="{{ avatarImage?.uri ? avatarImage?.uri : (userService.user.profile.avatar ? 'http://localhost:8000' + userService.user.profile.avatar : '../../../assets/avatar.png') }}"></ion-img>
      <button (click)="selectImage()" type="submit">Upload</button>
      <button (click)="clearAvatar()" type="submit">Clear</button>
    </ion-item>
    <form [formGroup]="accountForm">
      <ion-item>
        <ion-input formControlName="username" type="text" label='Username' labelPlacement='stacked' required></ion-input>
      </ion-item>
      <ion-item *ngIf="accountForm.get('username').invalid && (accountForm.get('username').dirty || accountForm.get('username').touched)">
        <span class="accent">Username is required</span>
      </ion-item>
      <ion-item>
        <ion-textarea 
          formControlName="bio" 
          value="userService.user.profile.bio" 
          label="Bio" labelPlacement="stacked" 
          [autoGrow]="true" 
          fill="solid" 
          placeholder="Enter text"
          [counter]="true"
          maxlength="200"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email" type="text" label='Email' labelPlacement='stacked' required></ion-input>
      </ion-item>
      <ion-item *ngIf="accountForm.get('email').invalid && (accountForm.get('email').dirty || accountForm.get('email').touched)">
        <span class="accent">Email is required</span>
      </ion-item>
      <ion-item>
        <ion-input formControlName="first_name" type="text" label='First Name' labelPlacement='stacked' required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="last_name" type="text" label='Last Name' labelPlacement='stacked' required></ion-input>
      </ion-item>
      <ion-item id='open-modal'>
        <ion-label>Birthdate</ion-label> 
        <ion-text slot="end">{{ accountForm.value.birthdate || userService.user.profile.birthdate }}</ion-text>
        <ion-modal trigger="open-modal">
          <ion-datetime 
            *ngIf='showPicker'
            formControlName="birthdate"
            [value]="userService.user.profile.birthdate"
            presentation="date" 
            [preferWheel]="true"
            [showDefaultButtons]="true"
            size="cover"
          ></ion-datetime>
        </ion-modal>
      </ion-item>  
      <ion-item>
        <ion-select formControlName="country" label='Country' labelPlacement='stacked' interface="action-sheet" placeholder="Select Country">
          <ion-select-option *ngFor="let country of locationService.COUNTRIES" [value]="country.value">
            {{ country.name }} 
          </ion-select-option>
        </ion-select>
      </ion-item>      
      <ion-item>
        <ion-input formControlName="city" type="text" label='City' labelPlacement='stacked' required></ion-input>
      </ion-item>      
    </form>
  </ion-list>
</ion-content>
