<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-item>
    <h2>{{ date }}</h2>
    <ion-button [routerLink]="['workout']" color='success' slot="end">
      Start Workout
    </ion-button>
  </ion-item>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-workouts-skeleton *ngIf="loading"></app-workouts-skeleton>

  <div *ngIf="!workouts?.length && !loading" id="empty">
    <ion-icon id='empty-workouts' [routerLink]="['workout']" name="add"></ion-icon>
  </div>

  <app-workout-list *ngIf="workouts.length && !loading" [workouts]="workouts"></app-workout-list>

  <ion-content>
    <ion-infinite-scroll *ngIf="infiniteScroll" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-content>