<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="results?.length" id="search-results">
    <ion-item *ngFor="let result of results">
      <ion-thumbnail slot="start">
        <img src="{{ result.profile.avatar ? 'http://localhost:8000' + result.profile.avatar : '../../../../../assets/avatar.png' }}" alt="avatar">
      </ion-thumbnail>
      <ion-label>
        <h3>
          {{ result.profile.first_name }} {{ result.profile.last_name }} <span class="fi fi-{{user?.profile.country_code | lowercase}}"></span>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="card-body">
    <div class="ion-text-center">
      <ion-avatar id="profile-avatar">
        <img src="{{ user?.profile.avatar ? config.BASE_URL + user?.profile.avatar : config.ASSETS_URL + 'avatar.png' }}" alt="avatar">
        <span class="fi fi-{{user?.profile.country_code | lowercase}}"></span>
      </ion-avatar>
      <h3>{{ user?.profile.first_name }} {{ user?.profile.last_name }}</h3>
      <h6>{{ user?.username }}</h6>
      <h5><span class="fi fi-{{user?.profile.country_code | lowercase}}"></span> {{ user?.profile.city }}, {{ user?.profile.country }}</h5>
      <h6>Current workouts: <ion-chip>
        <ion-label>{{ user?.profile.workout_count }}</ion-label>
        </ion-chip>
      </h6>
      <i>{{ user?.profile.bio }}</i>
    </div>

    <div class="ion-text-center">
      <ion-button [routerLink]="['/tabs/profile/user-workouts/', user?.id]" size="small" color="secondary">WORKOUTS ({{ user?.profile.workout_count }})</ion-button>
    </div>
  </div>

  <app-moments-feed [moments]="moments"></app-moments-feed>

</ion-content>
