<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{ user?.username }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="results?.length" id="search-results">
    <ion-item *ngFor="let result of results">
      <ion-thumbnail slot="start">
        <img src="{{ result.profile.avatar ? 'http://localhost:8000' + result.profile.avatar : '../../../../../assets/avatar.png' }}" alt="avatar">
      </ion-thumbnail>
      <ion-label>
        <h3>
          {{ result.profile.first_name }} {{ result.profile.last_name }} <span class="fi fi-{{user?.profile.country_code | lowercase}}"></span>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="card-body">
    <div class="ion-text-center">
      <ion-avatar id="profile-avatar">
        <img src="{{ user?.profile.avatar ? config.BASE_URL + user?.profile.avatar : config.ASSETS_URL + 'avatar.png' }}" alt="avatar">
      </ion-avatar>
      <h3>{{ user?.profile.first_name }} {{ user?.profile.last_name }}</h3>
      <h6>{{ user?.username }}</h6>
      <h5>{{ user?.profile.city }}, {{ user?.profile.country }} <span class="fi fi-{{user?.profile.country_code | lowercase}}"></span></h5>
      <h6>Current workouts: <ion-chip>
        <ion-label>{{ user?.profile.workout_count }}</ion-label>
        </ion-chip>
      </h6>
      <i>{{ user?.profile.bio }}</i>
    </div>

    <div class="ion-text-center">
      <ion-button *ngIf='user?.show_workouts' size="small" color="primary">Follow</ion-button>
      <ion-button [routerLink]="['user-workouts/', user?.id]" size="small" color="secondary">WORKOUTS</ion-button>
    </div>
  </div>

  <ion-list-header class="spartan"> Moments </ion-list-header>

  <ion-card *ngFor="let moment of moments">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ moment.user.profile.avatar ? config.BASE_URL + moment.user.profile.avatar : config.ASSETS_URL + 'avatar.png' }}" alt="">
      </ion-avatar>
      <ion-label>
        <h3>
          {{ moment.text }}
        </h3>
        <p class="ion-text-right">
          {{ dateTimeService.formatDistance(moment.timestamp) }}
        </p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
