# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

mobile/*.log
mobile/log.txt
mobile/npm-debug.log*

mobile/.angular
mobile/.idea
mobile/.ionic
mobile/.sass-cache
mobile/.sourcemaps
mobile/.versions
mobile/.vscode
mobile/coverage
mobile/dist
mobile/node_modules
mobile/platforms
mobile/plugins
mobile/www

backend/env