<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['account']">Account</ion-label>
    </ion-item>
    <ion-item>
      <ion-label [routerLink]="['privacy']">Privacy</ion-label>
    </ion-item>
    <ion-item (click)="openHeightPicker()">
      <ion-label>Height Units</ion-label>
      <ion-label slot="end">{{ userService.user.units_height | titlecase }}</ion-label>
    </ion-item>
    <ion-item (click)="openWeightPicker()">
      <ion-label>Weight Units</ion-label>
      <ion-label slot="end">{{ userService.user.units_weight | titlecase }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle [checked]="settingsService.isDark()" (ionChange)="settingsService.toggleDarkMode($event)" labelPlacement="start">
        Dark Mode
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label (click)="presentLogoutActionSheet()" color="danger">Log out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
