<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy Settings</ion-title>
    <ion-button (click)="save()" slot='end' fill="clear">Save</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h2 class="spartan">Choose what others see</h2>
    <form [formGroup]="privacyForm">
      <ion-item>
        <ion-toggle formControlName='show_first_name' labelPlacement="start">
          First name
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName='show_last_name' labelPlacement="start">
          Last name
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName='show_age' labelPlacement="start">
          Age
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName='show_height' labelPlacement="start">
          Height
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName='show_weight' labelPlacement="start">
          Weight
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName='show_workouts' labelPlacement="start">
          Show Workouts
        </ion-toggle>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
