<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy</ion-title>
    <ion-button (click)="save()" slot='end' fill="clear">Save</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="privacyForm">
      <ion-item>
        <ion-label>
          First name
        </ion-label>
        <ion-toggle formControlName='show_first_name'slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>
          Last name
        </ion-label>
        <ion-toggle formControlName='show_last_name'slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>
          Age
        </ion-label>
        <ion-toggle formControlName='show_age'slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>
          Height
        </ion-label>
        <ion-toggle formControlName='show_height'slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>
          Weight
        </ion-label>
        <ion-toggle formControlName='show_weight'slot="end"></ion-toggle>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
