<!-- <ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-item>
    Workouts
    {{ userService.user.profile.workout_count }}
  </ion-item>

  <ion-item>
    <ion-label position="floating">Exercise</ion-label>
    <ion-select aria-label="Country" interface="action-sheet" placeholder="Select Exercise">
      <ion-select-option *ngFor="let exercise of exercises" [value]="exercise">
        {{ exercise.name }} 
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <div class="chart-container">
    <canvas id="MyBarChart"></canvas>
  </div>
  
  <div class="chart-container">
    <canvas id="MyPieChart"></canvas>
  </div>
  
</ion-content> -->

<ion-item>
  Workouts
  {{ userService.user.profile.workout_count }}
</ion-item>

<ion-item>
  <ion-label position="floating">Exercise</ion-label>
  <ion-select aria-label="Country" interface="action-sheet" placeholder="Select Exercise">
    <ion-select-option *ngFor="let exercise of exercises" [value]="exercise">
      {{ exercise.name }} 
    </ion-select-option>
  </ion-select>
</ion-item>

<div class="chart-container">
  <canvas id="MyBarChart"></canvas>
</div>

<ion-label class="spartan">Body Parts</ion-label>
<div class="chart-container">
  <canvas id="MyPieChart"></canvas>
</div>