<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-item>
    <ion-label class="spartan">Total Workouts</ion-label>
    <h1 [countUp]="userService.user.profile.workout_count" class="spartan">0</h1>
  </ion-item>

  <div *ngIf="userService.user.profile.workout_count">
    <h3 class="spartan ion-text-center">Personal Records</h3>
    <ion-select
      [formControl]="exerciseSelect"
      (ionChange)="handleExerciseChange($event)"
      interface="action-sheet"
      label="Exercise"
      labelPosition="stacked"
    >
      <ion-select-option *ngFor="let exercise of exercisesDone" [value]="exercise">
        {{ exercise.name }} 
      </ion-select-option>
    </ion-select>
  
    <div id="prs">
      <div class="pr">
        <p class="pr-stat spartan">{{ prWeight?.reps }} x {{ prWeight?.weight }} {{ userService.getWeightUnits() }}</p>
        <p class="spartan">Max Weight</p>
      </div>
    
      <div class="pr">
        <p class="pr-stat spartan">{{ prReps?.reps }} x {{ prReps?.weight }} {{ userService.getWeightUnits() }}</p>
        <p class="spartan">Max REPS</p>
      </div>
    </div>
  
    <h3 class="spartan ion-text-center">Progress - {{ exerciseSelect.value.name }}</h3>
  
    <ion-segment (ionChange)="toggleChartType($event)" value="line">
      <ion-segment-button value="line">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bar">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    
    <div class="chart-container">
      <canvas id="lineChart"></canvas>
      <canvas id="barChart"></canvas>
    </div>  
  
    <h3 class="spartan ion-text-center">Most Frequent</h3>
    <ion-grid>
      <ion-row>
        <ion-col>EXERCISE</ion-col>
        <ion-col></ion-col>
        <ion-col>SETS</ion-col>
        <ion-col>REPS</ion-col>
      </ion-row>
      <ion-row *ngFor="let exercise of mostFrequent">
        <ion-col>{{ exercise.exercise }}</ion-col>
        <ion-col></ion-col>
        <ion-col>{{ exercise.sets }}</ion-col>
        <ion-col>{{ exercise.reps }}</ion-col>
      </ion-row>
    </ion-grid>  
  </div>

  <div *ngIf="!userService.user.profile.workout_count">
    <h1 class="spartan">Complete a workout to unlock this page!</h1>
  </div>
</ion-content>