/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "../node_modules/flag-icons/css/flag-icons.min.css";


@font-face {
    font-family: 'jakarta';
    src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'noize';
    src: url("./assets/fonts/NoizeSportFreeVertionRegular.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'spartan';
    src: url("./assets/fonts/Spantaran.ttf") format("truetype");
}

@font-face {
    font-family: 'techno';
    src: url("./assets/fonts/TechnoRaceItalic-eZRWe.otf") format("opentype");
}

* {
    font-family: 'jakarta' !important;
}

.green {
    color: #00fa9a;
}

.accent {
    color: #d4192c;
}

.spartan {
    font-family: 'noize' !important;
    font-size: 1.2rem;
}

.label-text {
    font-family: 'noize' !important;
}

#search-results {
    opacity: 95%;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

ion-card {
    border-radius: 0px;
}

ion-title {
    font-family: 'spartan' !important;
    font-size: 2rem;
}

.action-sheet-cancel {
    color: #d4192c !important;
}

ion-badge {
    background-color: #d4192c !important;
}

.picker-toolbar-cancel > button {
    color: #d4192c !important;
}