<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="workout-toolbar">
      Workout
      <div id="timer">
        <ion-icon (click)="counting ? timerPause() : timerStart()" [name]='counting ? "pause" : "play"'></ion-icon>
        <p class="spartan">
          {{ elapsedTime }}
        </p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workout</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="workoutForm">      
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime formControlName="timestamp" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
          
    <ion-card *ngFor="let exercise of exercises.controls; let i = index">
      <div [formGroup]="exercise">
        <ion-select formControlName='name' placeholder="Exercise">
          <ion-select-option *ngFor="let option of exerciseOptions"> {{ option.name }} </ion-select-option>
        </ion-select>
        <ion-accordion-group>
          <ion-accordion *ngFor="let set of exercise.controls.sets.controls; let setIndex = index" value="first">
            <ion-item slot="header">
              <ion-label> Set ({{ setIndex + 1 }}) </ion-label>
            </ion-item>
            <div [formGroup]="set" slot="content">
              <ion-item>
                <ion-label position="floating"> Repetitions </ion-label>
                <ion-input
                  formControlName="reps"
                  type="number"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating"> Weight (Optional) </ion-label>
                <ion-input 
                  formControlName="weight"
                  type="number"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <ion-button 
        (click)="addSet(i)"
        fill="clear"
      >
        Add Set
      </ion-button>
      <ion-button 
        (click)="deleteExercise(i)"
        [disabled]="!i"
        fill="clear"
      >
        Remove
      </ion-button>
    </ion-card>

    <ion-button (click)="addExercise()" fill='clear' class="spartan"> Add Exercise </ion-button>
    <ion-button (click)="presentAlertConfirm()" fill='clear' class="spartan"> Finish </ion-button>
  </form>
</ion-content>