<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime formControl="timestamp" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>

    <div id="timer" slot="end">
      <ion-icon (click)="counting ? timer.pause() : timer.start()" [name]='timer.counting ? "pause" : "play"'></ion-icon>
      <p class="spartan">
        {{ timer.elapsedTime }}
      </p>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workout</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="workoutForm">      
          
    <ion-card *ngFor="let exercise of exercises.controls; let i = index">
      <div [formGroup]="exercise">
        <ion-item>
          <ion-select 
            formControlName='name' 
            (ionChange)="getTargets($event)"
            label="Floating label" 
            label-placement="floating"
            interface="action-sheet"
            placeholder="Exercise"
          >
            <ion-select-option [disabled]="true" class="option-group-custom"> Your Exercises </ion-select-option>
            <ion-select-option *ngFor="let option of exerciseOptions?.custom">{{ option.name }}</ion-select-option>
            <ion-select-option disabled class="option-group-custom"> Public </ion-select-option>
            <ion-select-option *ngFor="let option of exerciseOptions?.default">{{ option.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="exercise.value.name && userService.user.pr[exercise.value.name]">
          <ion-label>Weight: {{ userService.user.pr[exercise.value.name].pr_weight.weight }} {{ userService.getWeightUnits() }} x {{ userService.user.pr[exercise.value.name].pr_weight.reps }}</ion-label>
          <ion-label>Volume: {{ userService.user.pr[exercise.value.name].pr_volume.weight }} {{ userService.getWeightUnits() }} x {{ userService.user.pr[exercise.value.name].pr_weight.reps }}</ion-label>
        </ion-item>

        <ion-accordion-group *ngIf="exercise.value.name">
          <ion-accordion *ngFor="let set of exercise.controls.sets.controls; let setIndex = index" value="first">
            <ion-item slot="header">
              <ion-label class="spartan"> {{ exercise.value.name }} ({{ setIndex + 1 }}) </ion-label>
            </ion-item>
            <div [formGroup]="set" slot="content">
              <ion-item>
                <ion-label position="floating"> Repetitions </ion-label>
                <ion-input
                  formControlName="reps"
                  type="number"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating"> Weight (Optional) </ion-label>
                <ion-input 
                  formControlName="weight"
                  type="number"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <ion-button 
        (click)="addSet(i)"
        fill="clear"
      >
        Add Set
      </ion-button>
      <ion-button 
        (click)="deleteExercise(i)"
        fill="clear"
      >
        Remove
      </ion-button>
    </ion-card>

    <ion-button (click)="addExercise()" fill='clear' class="spartan accent"> Add Exercise </ion-button>
    <ion-button (click)="presentAlertConfirm()" fill='clear' class="spartan accent"> Finish </ion-button>
  </form>
</ion-content>