<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-datetime-button datetime="datetime" id='here' class="spartan"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [formControl]="timestamp" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- <div id="timer" slot="end">
      <ion-icon (click)="counting ? timer.pause() : timer.start()" [name]='timer.counting ? "pause" : "play"'></ion-icon>
      <p class="spartan">
        {{ timer.elapsedTime }}
      </p>
    </div> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workout</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="workoutForm">      
    <ion-card *ngFor="let exerciseForm of exercises.controls; let i = index">
      <div [formGroup]="exerciseForm">
        <ion-item>
          <ion-select 
            formControlName='name' 
            (ionChange)="getTargets($event)"
            label="Select Exercise" 
            label-placement="floating"
            interface="action-sheet"
          >
            <ion-select-option class="spartan"> Your Exercises </ion-select-option>
            <ion-select-option *ngFor="let option of exerciseOptions?.custom">{{ option.name }}</ion-select-option>
            <ion-select-option class="spartan"> Public </ion-select-option>
            <ion-select-option *ngFor="let option of exerciseOptions?.default">{{ option.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-accordion-group *ngIf="exerciseForm.value.name">
          <ion-accordion *ngFor="let set of exerciseForm.controls.sets.controls; let setIndex = index" value="first">
            <ion-item slot="header">
              <ion-label class="spartan"> {{ exerciseForm.value.name }} #{{ setIndex + 1 }} </ion-label>
            </ion-item>
            <div [formGroup]="set" slot="content">
              <ion-item>
                <ion-input
                  formControlName="reps"
                  type="number"
                  label='Repetitions' 
                  labelPlacement='stacked'
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input 
                  formControlName="weight"
                  type="number"
                  label='Weight (Optional)' 
                  labelPlacement='stacked'
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <ion-button 
        (click)="addSet(i)"
        fill="clear"
        [disabled]="!exerciseForm.value.name"
      >
        Add Set
      </ion-button>
      <ion-button 
        (click)="deleteExercise(i)"
        fill="clear"
      >
        Remove
      </ion-button>
    </ion-card>

    <div id="workout-controls">
      <ion-button (click)="addExercise()" fill='clear' class="spartan accent"> Add Exercise </ion-button>
      <ion-button (click)="presentAlertConfirm()" fill='clear' class="spartan accent"> Finish </ion-button>
    </div>
  </form>
</ion-content>