<ion-card *ngFor="let moment of moments">
  <ion-item>
    <ion-avatar [routerLink]="['/user/', moment.user.id]" slot="start">
      <img src="{{ moment.user.profile.avatar ? config.BASE_URL + moment.user.profile.avatar : config.ASSETS_URL + 'avatar.png' }}" alt="">
    </ion-avatar>
    <ion-label>
      <ion-card-content>
        <h3 [routerLink]="['/user/', moment.user.id]" class="spartan">
          {{ moment.user.username }}
        </h3>
        <p class="moment-body">{{ moment.text }}</p>
      </ion-card-content>
      <p class="ion-text-right">
        {{ dateTimeService.formatDistance(moment.timestamp) }} 
      </p>
    </ion-label>
    <ion-icon *ngIf='moment.user.id === userService.user.id' id="settings_{{ i }}" name="ellipsis-vertical" slot="end">
      <ion-popover trigger="settings_{{ i }}" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item (click)="deleteMoment(i, moment.id)" [button]="true" [detail]="false">
                <ion-label>Delete</ion-label>
              </ion-item>             
              <ion-item [button]="true" [detail]="false">
                <ion-label>Cancel</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-icon>
  </ion-item>
</ion-card>