<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-menu></app-menu>
  <app-header></app-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [debounce]="1000" (ionChange)="handleSearch($event)" show-clear-button="always"></ion-searchbar>

  <app-user-search-skeleton *ngIf="loadingSearch"></app-user-search-skeleton>

  <ion-list *ngIf="results?.length">
    <ion-item *ngFor="let result of results">
      <ion-thumbnail slot="start">
        <img src="http://localhost:8000{{ result.profile.avatar }}" alt="avatar">
      </ion-thumbnail>
      <ion-label>
        <h3>
          {{ result.profile.first_name }} {{ result.profile.last_name }} ({{ result.username }})
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="card-body">
    <div class="ion-text-center">
      <ion-avatar id="profile-avatar">
        <img src="http://localhost:8000/{{ userService.user.profile.avatar }}" alt="avatar">
      </ion-avatar>
      <h3>{{ userService.user.profile.first_name }} {{ userService.user.profile.last_name }}</h3>
      <h6>{{ userService.user.username }}</h6>
      <h5>{{ userService.user.profile.city }}, {{ userService.user.profile.country }}</h5>
      <h6>Current workouts: <ion-chip>
        <ion-label>{{ userService.user.profile.workout_count }}</ion-label>
        </ion-chip>
      </h6>
      <i>{{ userService.user.profile.bio }}</i>
    </div>
    <ion-button expand="full" color="primary">FOLLOW</ion-button>
    <ion-button expand="full" color="secondary">SEND MESSAGE</ion-button>
    <ion-button expand="full" color="secondary">WORKOUTS</ion-button>
  </div>

  <div [formGroup]="momentForm" id="moment-form">
    <ion-textarea formControlName='moment' placeholder="Type something here"></ion-textarea>
    <ion-button (click)="submitMoment()" fill="clear">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </div>
  
  <ion-list-header class="spartan"> Moments </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let moment of moments">
      <ion-avatar slot="start">
        <img src="http://localhost:8000{{ moment.user.profile.avatar }}" alt="avatar">
      </ion-avatar>
      <ion-label>
        <h3>
          {{ moment.text }}
        </h3>
        <p class="ion-text-right">
          {{ dateTimeService.formatDistance(moment.timestamp) }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
