<ion-header>
  <ion-title> Save Workout to Use Later </ion-title>
</ion-header>

<ion-content>
  <form [formGroup]="templateForm">
    <ion-item lines="full">
      <ion-input formControlName="title" label='Title' labelPlacement='stacked' type="text" required></ion-input>
    </ion-item> 
    <ion-row>
      <ion-col>
        <ion-button (click)="handleSubmit()" fill="clear"> Save </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-button (click)="dismiss()" fill="clear"> Cancel </ion-button>
</ion-content>
