<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username" type="text" required></ion-input>
    </ion-item>    
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input formControlName="first_name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input formControlName="last_name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Country</ion-label>
      <ion-select formControlName="country" aria-label="Country" interface="action-sheet" placeholder="Select Country">
        <ion-select-option *ngFor="let country of locationService.COUNTRIES" [value]="country">
          <span class="fi fi-tw"></span>
          {{ country.name }} 
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">City</ion-label>
      <ion-input formControlName="city" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="registerSubmit()" color="primary" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
