<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-item>
    <ion-label position="floating">Create your own exercise</ion-label>
    <ion-input [formControl]='exerciseControl' placeholder="Type here" [clearInput]="true"></ion-input>
  </ion-item>
  
  <ion-button *ngIf="exerciseControl.value" (click)="submitExercise()" shape="round">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  <ion-list *ngIf="userExercises.length">
    <ion-list-header class="spartan">Your Exercises</ion-list-header>
    <ion-item *ngFor="let exercise of userExercises; let i = index;">
      {{ exercise.name }}
      <ion-icon (click)="removeFromFavorites(i)" class='accent' name="star" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="spartan">All Exercises</ion-list-header>
    <ion-item *ngFor="let exercise of exercises; let i = index;">
      {{ exercise.name }}
      <ion-icon (click)="addExercise(exercise, i)" [ngClass]="userExercises.includes(exercise) ? 'accent' : ''"  name="star" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>