<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [debounce]="1000" (ionChange)="handleSearch($event)" show-clear-button="always"></ion-searchbar>

  <ion-item *ngIf="tags.length" id="meal-tags-filter">
    <ion-button 
      *ngFor="let tag of tags" 
      (click)="filterByTags(tag.title)"
      [ngClass]="selectedTags.includes(tag.title) ? 'selected' : ''"
      size='small' 
      shape="round" 
      class="meal-tag"
    >
      {{ tag.title }}
    </ion-button>
    <ion-button 
      *ngIf="selectedTags.length"
      (click)="selectedTags=[]"
      size='small' 
      shape="round"
    >
      <ion-icon slot="start" name="close"></ion-icon>
      Clear
    </ion-button>
  </ion-item>

  <app-meals-skeleton *ngIf="loading"></app-meals-skeleton>

  <ion-card *ngFor="let meal of results || meals" [routerLink]="['/tabs/meals/meal', meal.id]" class="meal-card">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="http://localhost:8000{{ meal.image }}" alt="">
      </ion-thumbnail>
      <ion-label>
        <h2>
          {{ meal.title }}
        </h2>
        {{ meal.recipe }}
        <div>
          <ion-badge *ngFor="let tag of meal.tags" color="primary">{{ tag.title }}</ion-badge>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
