#avatar-icon {
  height: 2rem;
  width: 2rem;
}

ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 4rem;
}

#store-badges {
  display: flex;
  justify-content: space-evenly;

  img {
    height: 2rem;
  }
}