<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workout</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <form [formGroup]="workoutForm">
      <ion-datetime formControlName="timestamp"></ion-datetime>
      <ion-item>
        <ion-icon (click)="addExercise()" name="add" slot="end"></ion-icon>
      </ion-item>
      <ion-list *ngFor="let exercise of exercises.controls; let i = index">
        <div [formGroup]="exercise">
          <ion-select formControlName='name' placeholder="Exercise">
            <ion-select-option *ngFor="let option of exerciseOptions"> {{ option.name }} </ion-select-option>
          </ion-select>
          <ion-accordion-group>
            <ion-accordion *ngFor="let set of exercise.controls.sets.controls" value="first">
              <ion-item slot="header">
                <ion-label> Sets ({{ getSets(i).controls.length }}) </ion-label>
              </ion-item>
              <div [formGroup]="set" class="ion-padding" slot="content">
                <ion-item>
                  <ion-label position="floating"> Repetitions </ion-label>
                  <ion-input
                    formControlName="reps"
                    type="number"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"> Weight (Optional) </ion-label>
                  <ion-input 
                    formControlName="weight"
                    type="number"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-list>
      <ion-button (click)="presentAlertConfirm()" [disabled]="workoutForm.valid"> Finish </ion-button>
    </form>
  </ion-card>
</ion-content>